:{$PORT}

{
    auto_https on
}

respond "Hello Mom, Im Famous"

:{$PORT} {
    reverse_proxy /api/v1/user firebase-database-production.up.railway.app {
    header_up Host firebase-database-production.up.railway.app
  }
}